// TODO: Need to find a proper fix for these styles. Maybe Material now lets you do it in a fancy way?

.tooltip {
  background: rgba(255, 0, 0, 0.815);
  font-size: small;
}

.mdc-tooltip__surface {
  background: rgba(255, 0, 0, 0.815) !important;
  font-size: small !important;
}
