#NavigationDiv {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

mat-card:hover {
    width: 405px;
    height: 420px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
}

mat-card {
    width: 400px;
    height: 415px;
    transition: width 0.3s, height, 0.3s;
}

.cardImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: auto;
    padding-bottom: 10px;
}

p {
    width: 400px;
}

.githubLogo {
    width: 30px;
}

.githubLogoDiv {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -35px;
    margin-right: 20px;
}

iframe {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
    height: 500px;
    border: 0.5;
    border-color: rgba(0, 0, 0, 0.712);
}

mat-progress-bar {
    height: 5px;
}

@media (max-width: 864px) {
    #NavigationDiv {
        display: block;
    }

    mat-card {
        margin-top: 50px;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
}