<div class="content">
  <div id="NavigationDiv">
    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <div mat-card-avatar><fa-icon [icon]="faBeer" size="3x"></fa-icon></div>
        <mat-card-title>Beer Bottle Inventory System App</mat-card-title>
        <mat-card-subtitle>Honours Stage Project</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="cardImage" src="/assets/BBISA_Screenshot.png" alt="Main menu image">
      <mat-card-content>
        <p>
          Final year project built using Angular CLI and ASP.NET Core. It allows users to track
          a beer bottle inventory by adding their details. The user can log orders and history of the sales 
          which impact the stock amount
          of a product.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="redirectButton">
          <a mat-raised-button #BBISA href="http://BBIS.SKhalidQ.Dev" (click)="iFrame = true" target="myFrame" matTooltip="Open a small window" matTooltipShowDelay="600" matTooltipClass="toolTip">Preview</a>
          <a mat-raised-button #BBISA color="accent" (click)="onClick()" href="http://BBIS.SKhalidQ.Dev" matTooltip="Open full window" matTooltipShowDelay="600" matTooltipClass="toolTip">Go</a>
        </div>
          
        <div class="githubLogoDiv">
          <img class="githubLogo" matTooltip="Available on request" matTooltipShowDelay="600" matTooltipClass="toolTip" src="/assets/github-brands.svg" alt="Github Link">
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <div mat-card-avatar><fa-icon [icon]="faList" size="3x"></fa-icon></div>
        <mat-card-title>Anime List</mat-card-title>
        <mat-card-subtitle>Personal Project</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="cardImage" src="/assets/AnimeList_Screenshot.png" alt="Main menu image">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="redirectButton">
          <a mat-raised-button #MyList (click)="iFrame = true" target="myFrame" href="http://AnimeList.SKhalidQ.Dev" matTooltip="Open a small window" matTooltipShowDelay="600" matTooltipClass="toolTip">Preview</a>
          <a mat-raised-button #MyList color="accent" (click)="onClick()" href="http://AnimeList.SKhalidQ.Dev" matTooltip="Open full window" matTooltipShowDelay="600" matTooltipClass="toolTip">Go</a>
        </div>
        
        <div class="githubLogoDiv">
          <a href="https://github.com/DarkCreature97/AnimeList" matTooltip="Github Link" matTooltipShowDelay="600" matTooltipClass="toolTip" class="githubLink" alt="Github Link" target="_blank">
            <img class="githubLogo" src="/assets/github-brands.svg">
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  
<iframe *ngIf="iFrame" src="demo-page.html" name="myFrame"></iframe>