<mat-nav-list>
  <div class="top-container">
    <app-header [isSideNav]="true" (toggleSidenav)="toggleSidenav.emit()"></app-header>

    <mat-divider></mat-divider>

    <a *ngFor="let button of navigationButtons" mat-list-item [routerLink]="button.route" routerLinkActive="active-route" (click)="button.method?.()">
      <div>
        <mat-icon class="icon">{{ button.icon }}</mat-icon>
        <span>{{ button.text | translate }}</span>
      </div>
    </a>
  </div>

  <div class="bottom-container">
    <mat-divider></mat-divider>

    <app-menu [menuButton]="themeMenu" [isList]="true" [onMenuClose]="closeSidenav" />

    <app-menu [menuButton]="languageMenu" [isList]="true" [onMenuClose]="closeSidenav" />

    <mat-divider></mat-divider>

    <a mat-list-item [href]="socialMedia.route" target="_blank" *ngFor="let socialMedia of (socialMediaButtons | socialButtonLogo:(themeService.effectiveThemeMode$ | async))">
      <div>
        <img class="icon" #socialMediaLogo alt="Social Media" *ngIf="socialMedia.icon !== null" [src]="socialMedia.icon" (error)="onImageError(socialMediaLogo)">
        <span>{{ socialMedia.text | translate }}</span>
      </div>
    </a>
  </div>
</mat-nav-list>
