/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Earth Normal";
    font-style: normal;
    font-weight: normal;
    src: local('Earth Normal'), url('assets/Fonts/EARTH.woff') format('woff');
}

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Segoe UI', "Helvetica Neue", sans-serif;
}

.activeRoute {
    transform: translateY(-2px);
    background: #362e2e60;
}

.toolTip {
    background: rgba(255, 0, 0, 0.815);
    height: 20px;
}

.sbarDTheme {
    background: #303030de;
    color: #FAFAFA;
}

.sbarLTheme {
    background: #fafafae1;
}

.icon {
    width: 30px;
}

.langMenu {
    width: 200px;
}

.banderas {
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    margin-right: 10px;
}


/* Size */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 0, 0);
}

.EVOLUTION {
    background: black;
    color: green;
    text-align: center;
    font: bold 20;
}