<div class="main-container">
  <div class="content-container">
    <h1 class="title">{{ homeData.title | translate }}</h1>

    <div class="cv-container">
      <img [src]="cvImagePath" alt="CV Preview" class="preview" appDisableRightclick onerror="this.src='assets/images/icons/error_outline-14px.svg'">

      <div class="description">
        <p>{{ homeData.cvHighlight.description | translate }}</p>
        <button mat-raised-button [routerLink]="homeData.cvHighlight.navigationButton.route">{{ homeData.cvHighlight.navigationButton.text | translate }}</button>
      </div>
    </div>

    <div class="project-container">
      <img [src]="projectImagePath" alt="Project Preview" class="preview" appDisableRightclick onerror="this.src='assets/images/icons/error_outline-14px.svg'">

      <div class="description">
        <p>{{ homeData.projectsHighlight.description | translate }}</p>
        <button mat-raised-button [routerLink]="homeData.projectsHighlight.navigationButton.route">{{ homeData.projectsHighlight.navigationButton.text | translate}}</button>
      </div>
    </div>
  </div>
</div>
