.container {
    padding-top: 128px;
    /* padding-top: 100vh; */
    height: 100vh;
}
    
.DarkTheme {
    background: #212121;
}


mat-drawer {
    width: 260px;
}

app-header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

@media only screen and (max-width: 598px) {
    .container {
        padding-top: 112px;
    }
}
