.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 40px 0 0;
}
  
span {
  font-size: medium;
  margin: 0 10px 0 10px;
}
  
.cv-container {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
  width: auto;
}
  
.slide-toggle {
  margin: 20px auto;
}
  
app-curriculum-classic,
app-curriculum-modern {
  padding: 0 0 20px;
}
  
.error-message {
  display: flex;
  justify-content: space-around;
}
  
mat-icon {
  vertical-align: text-top;
  margin-right: 10px;
  font-size: 30px;
}
  
@media only screen and (max-width: 961px) {
  .cv-container {
    margin: 40px auto;
  }

  .classic {
    width: calc(500px + 80px);
  }

  .modern {
    width: calc(700px + 140px);
  }
}