<div class="main-container">
  <div class="title">
    <p>{{ title | translate }}</p>
  </div>

  <div class="content-container">
    <ul class="sections">
      <li *ngFor="let section of sections" class="section">
        <div class="section-title">
          {{ section.sectionTitle | translate }}
          <mat-divider class="underline"></mat-divider>
        </div>

        <div class="points">
          <p *ngFor="let point of section.points" class="point">
            <span class="point-title">{{ point.title | translate }}</span>
            <span class="point-description"> - {{ point.description | translate }}</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
