<mat-card *ngFor="let projects of cardData" class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"><mat-icon color="warn" style="font-size: 40px;">{{ projects.icon }}</mat-icon></div>
      <mat-card-title>{{ projects.title }}</mat-card-title>
      <!-- Once everything is completed, remove the h5 tag -->
      <mat-card-subtitle><h5>{{ projects.subtitle }}</h5></mat-card-subtitle>
    </mat-card-header>
    <div class="projectPreviewImage">

    </div>
    <!-- <img mat-card-image *ngIf="projects.image != null" [src]="projects.image" alt="A preview image of the project"> -->
    <img mat-card-image *ngIf="projects.image != null" [src]="projects.image" alt="A preview image of the project">
    <div class="notFoundDiv" *ngIf="projects.image == null">
      <mat-icon class="noImage" color="warn" [inline]="true">error_outline</mat-icon>
    </div>
    <mat-card-content>
      <p> {{ projects.description }} </p>
    </mat-card-content>
    <mat-card-actions style="margin-left: 0px; margin-right: 0px;">
      <a class="button" mat-flat-button color="warn" [href]="projects.websiteURL" [disabled]="!projects.website">Go</a>
      <div class="github">
        <a mat-icon-button [href]="projects.githubURL" style="width: 37px;" [disabled]="!projects.publicRepo"
          [matTooltip]="GetTooltipText(projects.publicRepo)" matTooltipShowDelay="600" matTooltipClass="toolTip" class="githubLink"
          alt="Github Link" target="_blank">
          <img style="width: 36px;" [src]="githubService.githubLogo$ | async">
        </a>
      </div>
    </mat-card-actions>
</mat-card>
