@keyframes shadow {
  from {
    box-shadow: unset;
  }
  to {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
  }
}

.mat-elevation-z5 {
  transition: all 0.3s;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
}

.mat-elevation-z5:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 37px rgba(0, 0, 0, 0.35);
}

.cv-container {
  width: 900px;
  height: 2000px;
  border-radius: 2px;
}

.top-container {
  background-color: rgb(175, 10, 10);
  color: white;
  width: 100%;
  height: 10%;
  border-radius: 2px 2px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  box-shadow: unset;
  animation: shadow 1s ease-in-out 1s both;
}

.info-container {
  margin: 0 0 0 20px;
}

.name {
  font-family: 'Earth Normal';
  font-size: 30px;
  margin: 20px 0;
}

.education-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.contact-divider {
  background-color: rgba(255, 255, 255, 0.555);
  height: 0.25px;
  margin: 15px 0 10px;
}

.contact-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  
  .contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0 20px 0 0;
    
    mat-icon {
      margin: 0 5px 0 0;
    }
  }
  
  .contact, .contact label {
    cursor: pointer;
  }
}

.bottom-container {
  height: calc(100% - 12%);
  border-radius: 0 0 5px 5px;
  
  .bottom-content {
    height: calc(100% - 40px);
    margin: 20px;
  }
}

.section-divider {
  margin: 0 25px;
  height: 1px;
  background-color: rgb(139, 139, 139);
  border-radius: 2px;
}

.underline {
  margin: 2px 0 0 0;
  background-color: #FAFAFA;
}

.semi-bold {
  font-weight: 520;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  max-width: 800px;
  margin: 30px;
  
  .section-title {
    font-family: 'Earth Normal';
    font-size: x-large;
    text-transform: uppercase;
    color: red;
    margin: 0 0 10px 0;
  }
  
  .section-subtitle {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
  }
}

.content {
  font-family: 'Montserrat';
  font-weight: lighter;
}

.list-container {
  display: flex;
  place-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
}

.list-content {
  margin: 0 0 0 10px;
}

.employ-history ul,
.education ul,
.nontech-skills ul,
.achievement_list ul {
  padding-left: 40px;
  overflow: hidden;
  list-style-type: none;
}

ul li {
  position: relative;
}

ul li .date {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

ul li .info {
  margin-bottom: 30px;
}

ul li:last-child .info {
  margin-bottom: 0;
}

.employ-history ul li:before,
.education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #f40b0b;
}

.employ-history ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  min-height: 16ch;
  background: #f40b04;
}

.education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 110px;
  background: #f40b04;
}

.achievements ul li:before,
.nontech-skills ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #f40b0b;
}

.hobbies ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: calc(100% - 40px);
  
  li {
    width: 80px;
    height: 80px;
    border: 2px solid #f40b0b;
    border-radius: 50%;
    position: relative;
    color: #f40b0b;
    display: flex;
    place-content: center center;
    
    mat-icon {
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;  
    }
  }
  
  li:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -40px;
    width: 40px;
    height: 2px;
    background: #f40b0b;
  }
  
  li:last-child:before {
    display: none;
  }
}

@media only screen and (max-width: 598px) {
  .cv-container {
    width: 500px;
    min-height: 2125px;
    border-radius: 2px;
  }
  
  .profile img {
    width: 100px;
    border-radius: 50%;
  }
  
  .name {
    font-size: 20px;
  }
  
  .education-title,
  ul li .date {
    font-size: 12px;
  }
  
  .contact-container {
    font-size: 10px;

    .contact, .contact label {
      cursor: pointer;
    }
    
    .contact mat-icon {
      margin: 0 5px 0 0;
      font-size: 22px;
    }
  }
  
  .content {
    font-size: x-small;
  }
  
  .section-container {
    max-width: 400px;
  
    .section-title {
      font-size: large;
    }
    
    .section-subtitle {
      font-size: small;
    }
  }

  .employ-history ul li:after {
    min-height: 25.5ch;
  }

  .education ul li:after {
    height: 108px;
  }
   
  .hobbies ul {
    width: 100%;
    padding: 0;
    
    li {
      width: 50px;
      height: 50px;
      mat-icon {
        font-size: 30px; 
      }  
    }
    
    li:before {
      top: 25px;
      right: -14px;
      width: 13px;
    }
  }

}