@keyframes animation1 {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animation2 {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.cv-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0;
}

.project-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.cv-preview {
    animation: 2s ease-out 1 animation1;
    max-width: 800px;
    margin: 0 15px 0 0;
    transition: opacity 0.3s ease-in-out;
}

.project-preview::before {
    display: none;
    width: 500px;
}

.project-preview {
    animation: 2s ease-out 1 animation1;
    width: 500px;
    transition: opacity 0.3s ease-in-out;
}

.cv-description {
    animation: 2s ease-out 1 animation2;
    max-width: 1200px;
    text-align: center;
}

.card-description {
    animation: 2s ease-out 1 animation2;
    text-align: center;
}

button {
    margin: 10px 10px;
    transition: background-color .3s ease-in-out;
}

@media only screen and (max-width: 961px) {
    
    .container {
        justify-content: center;
        width: 100%;
    }
    
    .main {

        flex-direction: column;
    }
    
    .title {
        font-size: xx-large;
        text-align: center;
    }
    
    .cv-container {
        flex-direction: column;
        align-items: center;
    }
    
    .project-container {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    
    .cv-preview {
        display: flex;
        margin: 10px 0;
        max-width: unset;
        width: 98%;
    }
    
    .project-preview {
        width: 80%;
    }
    
    .cv-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .card-description {
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    button {
        margin: 10px;
    }
}