main {
    height: calc(100vh - 150px);
    display: flex;
    text-align: center;
    place-content: center center;
    flex-direction: column;
}

section {
    @keyframes appear {
        0% { opacity: 0%; }
        100% { opacity: 100%; }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation: appear 1s ease-in-out;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    img {
        width: 40px;
        margin: 0 0 25px 0;
    }

    h2 {
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        margin: 0 0 12px;
    }
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0 0;
    
    img {
        width: 80px;
    }
    
    h4 {
        padding: 0 40px 0 0;
        margin: 0 0 2px;
    }
}

a:hover {
    background-image: linear-gradient(90deg, transparent 30%, #f5e5e44f 1%, #30303000);
    background-position: 100% 0;
    background-size: 500% 250%;
    transition: .7s ease-in;
}

@media only screen and (max-height: 598px) {
    main {
        margin: 20px 0 0;
    }
}