main {
    height: calc(100vh - 150px);
    display: flex;
    text-align: center;
    place-content: center center;
    flex-direction: column;
}

section {
    @keyframes appear {
        0% { opacity: 0%; }
        100% { opacity: 100%; }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    animation: appear 1s ease-in-out;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    
    img {
        width: 40px;
    }

    h2 {
        font-family: sans-serif;
        font-weight: bold;
        margin: auto;
    }

    h3 {
        margin: auto;
    }

    .dark-theme {
        text-decoration: initial;
        color: white;
    }

    .light-theme {
        text-decoration: initial;
        color: black;
    }
}

.angularMaterial {
    img {
        background-color: #303030;
        border-radius: 50%;
    }
}

.button:hover {
    background-image: linear-gradient(90deg, transparent 30%, #f5e5e44f 1%, #30303000);
    background-position: 100% 0;
    background-size: 500% 250%;
    transition: .7s ease-in;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 15px;

    @keyframes shadow {
        from {
            box-shadow: unset;
        }
        to {
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
        }
    }

    .imageContainer {
        width: 80px;
        height: 80px;
        margin: 0 0 0 10px;
        border-radius: 50%;
        animation: shadow 1s ease-in-out 1s forwards;
        cursor: pointer;

        img {
            width: 80px;
        }
    }
    
    h4 {
        padding: 0 40px 0 0;
        margin: 0 0 2px;
        font-family: 'Chintzy CPU', 'Segoe UI' !important;
        letter-spacing: 0.09vw;
    }
}

@media only screen and (max-height: 598px) {
    main {
        margin: 20px 0 0;
    }
}