<main>
    <section>
        <div class="credits">
            <img src="../../../assets/Images/angular.svg">
            <h2>Angular CLI</h2>
            <h3>v12.0.0</h3>
        </div>
        
        <div class="credits">
            <img src="../../../assets/Images/angular-white-transparent.svg">
            <h2>Angular Material</h2>
            <h3>v12.0.0</h3>
        </div>

        <div class="history">
            <a mat-button disabled>{{ buttonText }}</a>
        </div>

        <div class="copyright">
            <div class="imageContainer">
                <img appDisableRightclick src="../../../assets/Images/logo_transparent.png" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
            </div>
            <h4>Copyright SKhalidQ ©2021 v1.0.0</h4>
        </div>
    </section>
</main>