<main>
    <section>
        <div class="credits">
            <img src="../../../assets/Images/angular.svg">
            <a [class]="ChangeColour()" href="https://angular.io/">
                <h2>Angular CLI</h2>
            </a>
            <h3>v12.0.0</h3>
        </div>
        
        <div class="credits">
            <img src="../../../assets/Images/angular-white-transparent.svg" style="background-color: #303030; border-radius: 50%;">
            <a [class]="ChangeColour()" href="https://material.angular.io/">
                <h2>Angular Material</h2>
            </a>
            <h3>v12.0.0</h3>
        </div>
        
        <div class="credits">
            <img src="../../../assets/Images/Netlify-Logo.png">
            <a [class]="ChangeColour()" href="https://www.netlify.com/">
                <h2>Hosted on Netlify</h2>
            </a>
        </div>

        <div class="history">
            <a class="button" mat-button disabled>{{ buttonText }}</a>
        </div>

        <div class="copyright">
            <div class="imageContainer">
                <img appDisableRightclick src="../../../assets/Images/group_logo_transparent.png" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
            </div>
            <h4>Copyright SKhalidQ ©2021 v1.2.1</h4>
        </div>
    </section>
</main>