.main-container {
  display: flex;
  place-content: space-evenly flex-start;
  flex-direction: column;
  max-width: 800px;
  margin: 0 30px 30px;

  .title {
    font-family: 'Earth Normal';
    font-size: x-large;
    color: red;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0.9em;
    width: calc(100% - 40px);

    li {
      width: 80px;
      height: 80px;
      border: 2px solid #f40b0b;
      border-radius: 50%;
      position: relative;
      color: #f40b0b;
      display: flex;
      place-content: center center;

      mat-icon {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    li:before {
      content: "";
      position: absolute;
      top: 40px;
      right: -40px;
      width: 40px;
      height: 2px;
      background: #f40b0b;
    }

    li:last-child:before {
      display: none;
    }
  }
}

@media only screen and (max-width: 961px) {
  .main-container {
    .title {
      font-size: large;
    }

    ul {
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        width: 50px;
        height: 50px;

        mat-icon {
          font-size: 30px;
        }
      }

      li:before {
        top: 25px;
        right: -26px;
        width: 25px;
      }
    }
  }
}

@media only screen and (max-width: 610px) {
  .main-container {
    ul {
      li:before {
        top: 25px;
        right: -9px;
        width: 9px;
      }
    }
  }
}
