@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.main {
    height: calc(100vh - 150px);
    display: flex;
    text-align: center;
    place-content: center center;
    flex-direction: column;
    background-color: linear;
}

.content {
    animation: appear 1s ease-in-out;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
}

h4 {
    margin: 20px 0 0;
}

a:hover {
    background-image: linear-gradient(90deg, transparent 30%, #f5e5e44f 1%, #30303000);
    background-position: 100% 0;
    background-size: 500% 250%;
    transition: .7s ease-in;
}

@media only screen and (max-height: 598px) {
    .main {
        margin: 20px 0 0;
    }
}