.contentDiv {
    text-align: center;
}

/* table {
    display: flex;
    justify-content: center;
    border: 5px solid red;
} */

table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
}

mat-divider {
    margin: 10px;
}

table {
    margin: 0 auto;
    width: 50%;
}

.title {
    width: 200px;
}


table, .separator, .personalInfo {
    display: grid;
    border: 0px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }