<div class="contentDiv">
    <p>curriculum works!</p>
    <table>
        <tr>
            <td class="personalInfo">
                <div mat-card-avatar class="example-header-image"></div>
                <h1>Sad Khalid Qayyum</h1>
                <h4>BSc (Hons) Computer Science</h4>
            </td>
        </tr>
        <tr>
            <td class="title">Profile</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam aliquet sed massa in ornare. Etiam imperdiet nibh vel maximus ultrices. 
                Pellentesque at est ex. Nam laoreet accumsan tellus, vel mattis mauris efficitur vel. 
                Quisque euismod dolor vel lacus malesuada congue. Cras quis consequat turpis, id porta ipsum. 
                Sed fermentum lectus id massa consectetur, non feugiat orci iaculis. Cras accumsan euismod risus, 
                ac tristique tortor rutrum quis. Suspendisse potenti. Sed in quam erat.
            </td>
        </tr>
        <tr class="separator">
            <mat-divider></mat-divider>
        </tr>
        <tr>
            <td class="title">Education</td>
            <td>some</td>
        </tr>
        <tr class="separator">
            <mat-divider></mat-divider>
        </tr>
        <tr>
            <td class="title">Employement History</td>
            <td>some</td>
        </tr>
        <tr class="separator">
            <mat-divider></mat-divider>
        </tr>
        <tr>
            <td class="title">Programming Languages</td>
            <td>some</td>
        </tr>
        <tr class="separator">
            <mat-divider></mat-divider>
        </tr>
        <tr>
            <td class="title">Awards & Achievements</td>
            <td>some</td>
        </tr>
        <tr class="separator">
            <mat-divider></mat-divider>
        </tr>
        <tr>
            <td class="title">Personal Interest</td>
            <td>some</td>
        </tr>
    </table>
</div>