@import '~@angular/material/theming';
@include mat-core();

$dark-theme-primary: mat-palette($mat-pink);
$dark-theme-accent: mat-palette($mat-red, 700, 800, 900);
$dark-theme-warn: mat-palette($mat-grey);

$dark-mode-theme: mat-dark-theme((
    color: (
        primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn
    )
));
@include angular-material-theme($dark-mode-theme);

.lightTheme {
    $light-theme-primary: mat-palette($mat-pink);
    $light-theme-accent: mat-palette($mat-red, 700, 800, 900);
    $light-theme-warn: mat-palette($mat-grey);
    
    $light-mode-theme: mat-light-theme((
        color: (
            primary: $light-theme-primary,
            accent: $light-theme-accent,
            warn: $light-theme-warn
        )
    ));
    @include angular-material-theme($light-mode-theme);
}