<div class="container">
  <div class="action-buttons">
    <button mat-raised-button (click)="Toggle()">{{ expansionBtn }}</button>
  </div>
  <div class="description">
    <h4>Version</h4>
    <h4>Release Date</h4>
    <!-- <span></span> -->
  </div>
  <mat-divider></mat-divider>
  <mat-accordion class="headers-align" multi>
    <app-expansion-panels class="expansion-pannels" (click)="expansion = true; expansionBtn = 'Collapse All'" *ngFor="let changeLogData of changelogs" [data]="changeLogData"></app-expansion-panels>
  </mat-accordion>
</div>

<div *ngIf="changelogs.length <= 0" class="error-message">
  <h1><mat-icon color="warn">error_outline</mat-icon> There seems to be a problem while getting all the data</h1>
</div>
