.logo {
    height: 50px;
    margin-right: 10px;
}

.logo:hover {
    background-color: #2a2a2a52;
    border-radius: 5px;
}

.logo:focus {
    outline: 0;
}

.spacer {
    flex: 1 1 auto;
}

.title {
    margin: 0 10px;
}

.leftBtns {
    margin-left: 10px;
}

.socialMedBtn {
    margin-left: 10px;
}

.activeRoute {
    color: red;
    background: rgba(73, 59, 59, 0.151);
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 5;
}

mat-menu {
    border-radius: 1;
}

.icon {
    width: 30px;
}

.langMenu {
    width: 200px;
}

.banderas {
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 960px) {
    .leftBtns, .rightBtns {
        visibility: hidden;
    }
}