h1 {
    text-align: center;
}

.logo {
    background-image: url('/assets/logo_transparent.png');
    height: 50px;
    margin-right: 10px;
}

.logo:hover {
    background-color: #2A2A2A;
    border-radius: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

#projects {
    margin-left: 20px;
}

.activeRoute {
    background-color: rgb(26, 25, 25);
}