<div [class.lightTheme]="lightMode">
  <mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z5">
      <img class="logo" src="/assets/logo_transparent.png" matTooltip="Home" matTooltipShowDelay="600" matTooltipClass="toolTip" routerLink="/home">
      
      <span class="title">{{ title }}</span>
      
      <a mat-button class="mainBar" routerLink="/curriculum" [routerLinkActive]="activeRoute">Curriculum</a>
      <a mat-button class="mainBar" routerLink="/projects" [routerLinkActive]="activeRoute">Projects</a>
      <a mat-button class="mainBar" routerLink="/about" [routerLinkActive]="activeRoute">About</a>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>format_color_fill</mat-icon></button>
      <mat-menu #menu="matMenu">
        <div class="menu">
          <button mat-menu-item (click)="Toggled(!isToggled)"><mat-icon>{{themeIcon}}</mat-icon>{{themeMode}} mode</button>
        </div>
      </mat-menu>
    </mat-toolbar-row>
    
    <mat-toolbar-row class="mat-elevation-z10">
      <span>{{pageNameService.sectionNameChanging | async}}</span>
      <span class="example-spacer"></span>
      <a mat-icon-button href="https://twitter.com/SKhalidQDev" target="_blank">
        <img class="githubLogo" src="/assets/twitter-brands.svg">
      </a>
      <a mat-icon-button disabled class="example-icon" href="https://twitter.com/SKhalidQDev" target="_blank">
        <img class="githubLogo" src="/assets/youtube-brands.svg">
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <section *ngIf="progress">
    <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
  </section>
  
  <mat-sidenav-container>
    <main style="overflow: auto;">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>
</div>






