<p>
  <mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z5">
      <img class="logo" src="/assets/logo_transparent.png" matTooltip="Home" routerLink="/home">
      <span>{{title}}</span>
      <a mat-button id="projects" routerLink="/projects" routerLinkActive="activeRoute">Projects</a>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-elevation-z10">
      <span>{{pageNameService.sectionNameChaning | async}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<section *ngIf="progress">
  <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
</section>

<div>
  <h1> Welcome to SKhalidQ</h1>
</div>

<main>
  <router-outlet></router-outlet>
</main>