.container {
    padding-top: 9vh;
    height: 100vh;
}
    
.sideNav {
    width: 19vh;
}

main {
    margin-top: 50px;
    height: calc(100vh - 13vh);
}

@media (max-width: 960px) {
    main {
        margin-top: 150px;
        height: calc(100vh - 31vh);
    }

    .sideNav {
        width: 245px;
    }
}
