<div [class.lightTheme]="lightMode">
  <mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z5">
      <img class="logo" src="/assets/logo_transparent.png" matTooltip="Home" matTooltipShowDelay="600" matTooltipClass="toolTip" routerLink="/home">
      
      <span class="title">{{ title }}</span>
      
      <a mat-button class="mainBar" routerLink="/curriculum" routerLinkActive="activeRoute">Curriculum</a>
      <a mat-button class="mainBar" routerLink="/projects" routerLinkActive="activeRoute">Projects</a>
      <a mat-button class="mainBar" routerLink="/about" routerLinkActive="activeRoute">About</a>
      <span class="spacer"></span>
      <a mat-button [matMenuTriggerFor]="menu"><mat-icon>format_color_fill</mat-icon></a>
      <mat-menu #menu="matMenu">
        <div class="menu">
          <button mat-menu-item (click)="Changetheme(!isToggled)"><mat-icon>{{themeIcon}}</mat-icon>{{themeMode}} mode</button>
        </div>
      </mat-menu>
      <a mat-button [matMenuTriggerFor]="languages"><mat-icon>language</mat-icon></a>
      <mat-menu #languages="matMenu">
        <div class="langMenu">
          <button mat-menu-item style="display: flex; align-items: center;" (click)="ChangeLanguage('English')"><img class="banderas" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Flag_of_the_United_Kingdom.svg"> English</button>
          <button mat-menu-item style="display: flex; align-items: center;" (click)="ChangeLanguage('Castellano')"><img class="banderas" src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"> Castellano</button>
          <button mat-menu-item style="display: flex; align-items: center;" (click)="ChangeLanguage('Català')"><img class="banderas" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Catalonia.svg"> Català</button>
        </div>
      </mat-menu>
    </mat-toolbar-row>
    
    <mat-toolbar-row class="mat-elevation-z10">
      <span>{{pageNameService.sectionNameChanging | async}}</span>
      <span class="spacer"></span>
      <a mat-icon-button class="rightButtons" href="https://twitter.com/SKhalidQDev" target="_blank">
        <img class="icon" src="/assets/twitter-brands.svg">
      </a>
      <a mat-icon-button class="rightButtons" href="https://uk.linkedin.com/in/sad-khalid-qayyum-74488015b/en-us" target="_blank">
        <img class="icon" src="/assets/linkedin-in-brands.svg">
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <section *ngIf="progress">
    <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
  </section>
  
  <mat-sidenav-container>
    <main style="overflow: auto;">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-container>
</div>






