<div class="cv mat-elevation-z5">
    <div class="cv_left">

        <div class="cv_profile">
            <img src="../../../assets/Images/logo.png" appDisableRightclick alt="profile_pic" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
        </div>

        <div class="cv_content">
            <div class="cv_item cv_info">
                <div class="title">
                    <p class="bold">Sad Khalid Qayyum</p>
                    <p class="regular">BSc (Hons) Computer Science</p>
                    <mat-divider></mat-divider>
                </div>

                <ul>
                    <li>
                        <div class="icon">
                            <mat-icon>email</mat-icon>
                        </div>
                        <div class="data"> SKhalidQDev@outlook.es
                            <!-- <button [cdkCopyToClipboard]="'SKhalidQDev@outlook.es'" mat-icon-button (click)="Notify()" [style]="hideButtons">
                                <mat-icon>content_copy</mat-icon>
                            </button> -->
                            <a mat-icon-button [href]="'mailto:SKhalidQDev@outlook.es'" target="_top" [style]="hideButtons" matTooltip="Open default mail" matTooltipShowDelay="600" matTooltipClass="toolTip">
                                <mat-icon>launch</mat-icon>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="icon">
                            <mat-icon>web</mat-icon>
                        </div>
                        <div class="data">
                            www.skhalidq.dev
                            <button [cdkCopyToClipboard]="'https://www.skhalidq.dev'" mat-icon-button (click)="Notify()" [style]="hideButtons" matTooltip="Copy to clipboard" matTooltipShowDelay="600" matTooltipClass="toolTip">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </div>
                    </li>
                </ul>

            </div>

            <mat-divider></mat-divider>

            <div class="cv_item cv_skills">
                <div class="title">
                    <!-- <p class="bold">{{ _titles[0].Skills }}</p> -->
                    <p class="bold">{{ data[0].CVTitles[0].Skills }}</p>
                </div>

                <ul *ngFor="let skill of data[0].Skills">
                    <li>
                        <div class="skill_name" (click)="SwitchToClassic(skill.Name)">{{ skill.Name }}</div>
                        <div class="skill_progress">
                            <span [style]="'width: ' + skill.Percentage + ';'"></span>
                        </div>
                        <div class="skill_per">{{ skill.Percentage }}</div>
                    </li>
                </ul>

            </div>

            <mat-divider></mat-divider>

            <div class="cv_item cv_skills">
                <div class="title">
                    <p class="bold">{{ data[0].CVTitles[0].Languages }}</p>
                </div>

                <ul *ngFor="let language of data[0].Languages">
                    <li>
                        <div class="skill_name">{{ language.Language }}</div>
                        <div class="skill_progress">
                            <span [style]="'width: ' + language.Percentage + ';'"></span>
                        </div>
                        <div class="skill_per">{{ language.Percentage }}</div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="cv_right">
            <div class="cv_item cv_about">
                <div class="title">
                    <p class="bold">{{ data[0].CVTitles[0].Profile }}</p>
                </div>
                <p>{{ data[0].Profile }}</p>
            </div>

            <mat-divider></mat-divider>

            <div class="cv_item cv_work">
                <div class="title">
                    <p class="bold">{{ data[0].CVTitles[0].WorkExp }}</p>
                </div>

                <ul>
                    <li *ngFor="let job of data[0].Jobs">
                        <div class="date">{{ job.Year }}</div>
                        <div class="info">
                            <p class="semi-bold">{{ job.JobTitle }}</p>
                            <p>{{ job.JobDescription }}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- <div class="cv_item cv_work">
          <div class="title">
            <p class="bold">{{ data[0].CVTitles[0].WorkExp }}</p>
          </div>
  
          <ul>
            <li *ngFor="let job of data[0].Jobs">
              <div class="date">{{ job.Year }}</div> 
              <div class="info">
                <p class="semi-bold">{{ job.JobTitle }}</p>
                <ul>
                  <li *ngFor="let description of job.JobDescription">
                    <p>{{ description }}</p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div> -->

            <mat-divider></mat-divider>

            <div class="cv_item cv_education">
                <div class="title">
                    <p class="bold">{{ data[0].CVTitles[0].Education }}</p>
                </div>

                <ul>
                    <li *ngFor="let qualification of data[0].Education">
                        <div class="date">{{ qualification.Year }}</div>
                        <div class="info">
                            <p class="semi-bold">{{ qualification.Qualification }}</p>
                            <p>{{ qualification.Modules }}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <mat-divider></mat-divider>

            <div class="cv_item cv_nontech_skills">
                <div class="title">
                    <p class="bold">{{ data[0].CVTitles[0].NonTechSkills }}</p>
                </div>

                <ul>
                    <li class="nontech_skills" *ngFor="let skill of data[0].NonTechSkills">
                        <div class="info">
                            <p class="semi-bold">{{ skill.Skill }} <mat-divider class="underline"
                                    [style]="UnderLine(skill.Skill)"></mat-divider>
                            </p>
                            <p>{{ skill.Description }}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- <mat-divider></mat-divider>
  
        <div class="cv_item cv_achievements">
          <div class="title">
            <p class="bold">{{ _titles[0].Achievements }}</p>
          </div>
  
          <ul>
            <li class="achievement_list" *ngFor="let achievement of _achievements">
              <p>{{ achievement }}</p>
            </li>
          </ul>
        </div> -->

        <mat-divider></mat-divider>

        <div class="cv_item cv_hobby">
            <div class="title">
                <p class="bold">{{ data[0].CVTitles[0].Hobbies }}</p>
            </div>

            <ul>
                <li *ngFor="let hobby of data[0].Hobbies" [matTooltip]="hobby.tooltip" matTooltipClass="toolTip">
                    <mat-icon>{{ hobby.icon }}</mat-icon>
                </li>
            </ul>
        </div>
    </div>
</div>