* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Earth Normal", 'Segoe UI', sans-serif;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
  width: 400px;
}

.semi-bold .underline {
  margin: 2px 0 0 0;
  background-color: #7A7A7A;
}

.mat-elevation-z5 {
  transition: all 0.3s;
  border-radius: 2px;
}

.mat-elevation-z5:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 37px rgba(0, 0, 0, 0.35);
}
 
.cv {
  width: 900px;
  height: auto;
  display: flex;
  
  .title {
    margin-bottom: 20px;
  }
  
  .cv_item {
    padding: 25px 0;
  }
}

mat-divider {
  height: 2px;
  background-color: rgb(139, 139, 139);
}

.cv .cv_left .cv_item:last-child,
.cv .cv_right .cv_item:last-child {
  border-bottom: 0px;
}

.cv .icon mat-icon,
.cv .cv_right .cv_hobby ul li mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cv .cv_left {
  width: 320px;
  border-radius: 2px 2px;
  background: #af0a0a;
  
  .cv_profile {
    width: 100%;
    height: 300px;
    
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 2px;
    }  
  }
  
  .cv_social .semi-bold {
    color: #fff;
    margin-bottom: 3px;
  }
  
  .cv_content {
    padding: 0 15px;
  }
  
  .bold {
    color: rgb(255, 255, 255);
  }
  
  .regular {
    color: white;
  }
  
  ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  }
  
  ul li .icon {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #f40b0b;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
  }
  
  ul li .data {
    color: white;
  
  }
  
  .cv_skills ul li {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    
    .skill_name {
      width: 25%;
      color: white;
    }
    
    .skill_per {
      width: 14%;
      color: white;
      margin-left: 5px;
    }
    
    .skill_progress {
      width: 50%;
      margin: 0 5px;
      height: 5px;
      border-radius: 5px;
      background: #d90000;
      position: relative;
      
      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 5px;
        background: #fff;
      }
    }
  }
}

.cv .cv_right {
  width: 620px;
  background: rgba(255, 255, 255, 0);
  padding: 25px;
  
  .bold {
    color: #f40b0b;
  }
  
  .cv_work ul,
  .cv_education ul {
    padding-left: 40px;
    overflow: hidden;
  }
  
  ul li {
    position: relative;
  }
  
  ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  ul li .info {
    margin-bottom: 30px;
  }
  
  ul li:last-child .info {
    margin-bottom: 0;
  }
  
  .cv_work ul li:before,
  .cv_education ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #f40b0b;
  }
  
  .cv_education ul li:after,
  .cv_work ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    background: #f40b0b;
  }
  
  .cv_work ul li:after {
    min-height: 168px;
  }
  
  .cv_education ul li:after {
    height: 148px;
  }
  
  .cv_hobby ul {
    display: flex;
    justify-content: space-between;
    
    li {
      width: 80px;
      height: 80px;
      border: 2px solid #f40b0b;
      border-radius: 50%;
      position: relative;
      color: #f40b0b;
      
      mat-icon {
        font-size: 40px;
        margin-top: -7px;
        display: flex;
        justify-content: space-around;
      }
    }
    
    li:before {
      content: "";
      position: absolute;
      top: 40px;
      right: -15px;
      width: 14px;
      height: 2px;
      background: #f40b0b;
    }
    
    li:last-child:before {
      display: none;
    }
  }
  
  .cv_achievements ul li:before,
  .cv_nontech_skills ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #f40b0b;
  }
  
  .achievement_list, .nontech_skills {
    margin-left: 40px;
  }
}


@media only screen and (max-width: 961px) {
  .cv {
    width: 790px;
  }

  .cv .cv_left {
    width: 350px;
    font-size: 13px;
  
    .cv_profile {
      height: 280px;
    }
  
    .cv_content {
      padding: 0 25px;
    }
    
    .cv_skills ul li {      
      .skill_per {
        width: 15%;
      }
    }
  }

  .cv .cv_right {
    width: 480px;
  
    ul li .info {
      margin-bottom: 20px;
    }
  
    .cv_work ul li:after {
      min-height: 179px;
    }
  
    .cv_education ul li:after {
      height: 159px;
    }
  
    .cv_hobby ul {
      li {
        width: 60px;
        height: 60px;
        
        mat-icon {
          margin: 0;
          font-size: 28px;
        }
      }
    
      li:before {
        top: 30px;
        right: -18px;
        width: 17px;
      }
    }
  }
}