<div class="container">
    <main>
        <h1 class="title">{{ homeData.Title }}</h1>
    
        <div class="cv-container">
            <img [src]="themeService.themeMode.value === 'LightMode' ? lightCV : darkCV" class="preview mat-elevation-z2" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
    
            <!-- <app-classic-curriculum [data]="curriculum" class="preview mat-elevation-z1"></app-classic-curriculum> -->

            <h3 class="description">
                {{ homeData.CVText }}
                <button mat-raised-button color="basic" [routerLink]="routeData[0].route">{{ routeData[0].btnText }}</button>
            </h3>
        </div>
    
        <div class="project-container">
            <img [src]="themeService.themeMode.value === 'LightMode' ? lightProject : darkProject" class="preview mat-elevation-z2" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
    
            <h3 class="description">
                {{ homeData.ProjectText }}
                <button mat-raised-button color="basic" [routerLink]="routeData[1].route">{{ routeData[1].btnText }}</button>
            </h3>
        </div>
    </main>
</div>