<div class="container">
    <main>
        <h1 class="title">{{ homeData.Title }}</h1>
    
        <div class="cv-container">
            <img [src]="themeService.themeMode.value === 'LightMode' ? lightCV : darkCV" alt="CV Preview" class="preview mat-elevation-z2" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
            
            <div class="description">
                <h3>{{ homeData.CVText }}</h3>
                <button mat-raised-button color="basic" [routerLink]="routeData[0].route">{{ routeData[0].btnText }}</button>
            </div>
        </div>
    
        <div class="project-container">
            <img [src]="themeService.themeMode.value === 'LightMode' ? lightProject : darkProject" alt="Project Preview" class="preview mat-elevation-z2" onerror="this.src='../../assets/Images/error_outline-14px.svg'">
    
            <div class="description">
                <h3>{{ homeData.ProjectText }}</h3>
                <button mat-raised-button color="basic" [routerLink]="routeData[1].route">{{ routeData[1].btnText }}</button>
            </div>
        </div>
    </main>
</div>