.card {
    min-width: 400px;
    max-width: 400px;
    transition: all .3s ease-in-out;
    border: solid rgba(0, 0, 0, 0.151) 0.5px;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.header .header-icon {
    font-size: 40px;
}

.project-preview {
    @keyframes blur {
        from { filter: blur(5px); }
        to   { filter: blur(0); }
    }

    max-width: 432px;
    min-width: 382px;
    max-height: 236px;
    min-height: 209px;
    background-size: cover;
    filter: blur(5px);
    animation: blur both 1s ease-in-out 1.5s;
}

.error-icon {
    display: flex;
    place-content: center center;
    margin: -20px 0 20px 0;
    font-size: 280px;
    height: 236px;
}

.project-description {
    height: 70px;
}

.project-button-container {
    display: flex;
    place-content: flex-end space-between;
    margin: 0 3px;
}

.project-button-container .website-link-container {
    width: 40px;
    margin: 0 0 2px 0;
}

.website-link {
    width: 70px;
}

.website-link:hover {
    background-image: linear-gradient(90deg, transparent 30%, #f5e5e4 4% , red);
    background-position: 100% 0;
    background-size: 500% 250%;
    transition: all .7s ease-in;
}

.website-link mat-icon {
    transform: rotate(-90deg);
}

.project-button-container .github-link {
    display: flex;
    place-content: center center;
    margin: 0 0 6px 0;
    width: 37px;
    height: 37px;
}

.project-button-container .github-link .github-image {
    width: 37px;
}

@media only screen and (max-width: 451px) {
    .card {
        min-width: 350px;
        max-width: 350px;
    }
        
    .project-button-container {
        display: flex;
        place-content: flex-end space-between;
        margin: 10px 3px 0;
    }
}