.main-container {
  display: flex;
  place-content: space-evenly flex-start;
  flex-direction: column;
  max-width: 800px;
  margin: 0 30px;

  .title {
    font-family: 'Earth Normal';
    font-size: x-large;
    color: red;
  }

  .subtitle {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .underline {
    margin: 2px 0 0 0;
    background-color: #7A7A7A;
  }

  .content-container {
    ul {
      padding-left: 40px;
      overflow: hidden;
      list-style-type: none;
    }

    ul li:before {
      content: "";
      position: absolute;
      top: 5px;
      left: -25px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 2px solid #f40b0b;
    }

    li {
      position: relative;

      .date {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .info {
        margin-bottom: 30px;
      }
    }

    li:last-child .info {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 961px) {
  .main-container {
    max-width: 600px;

    .title {
      font-size: large;
    }

    .subtitle {
      font-size: small;
    }

    .content {
      font-size: small;
    }
  }
}
