.main {
    margin: 0 0 10px 0;
    /* max-width: 1600px; */
    transition: background-color .3s ease-in-out;
}

mat-panel-description {
    justify-content: space-between;
    align-items: center;
}

div {
    margin: 20px 0 0 0;
}

li {
    list-style: none;
}

ul > h4::before {
    content: "- ";
}

h4 {
    text-decoration: none;
    margin: -10px 0 5px 0;
}
  