<ng-container>
  <button *ngIf="!isList" type="button" mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
    <mat-icon>{{ menuButton.icon }}</mat-icon>
  </button>

  <div *ngIf="isList">
    <a mat-list-item [matMenuTriggerFor]="menu">
      <div>
        <mat-icon class="icon">{{ menuButton.icon }}</mat-icon>
        <span>{{ menuButton.text | translate }}</span>
      </div>
    </a>
  </div>

  <mat-menu #menu="matMenu" [class]="themeService.getEffectiveThemeMode()">
    <button *ngFor="let option of filteredOptions()" [class]="'option' + (option.isActive ? ' menu-option-selected' : '')" type="button" mat-menu-item (click)="onMenuOptionClick(option)" [disabled]="option.isDisabled || option.isActive">
      <mat-icon *ngIf="option.iconType === 'icon'">
        {{ option.icon }}
      </mat-icon>

      <img *ngIf="option.iconType === 'image'" class="icon" alt="image" [src]="option.icon" onerror="this.src='assets/images/icons/error_outline-14px.svg'">

      {{option.text | translate }}
    </button>
  </mat-menu>
</ng-container>
