<div class="toggle-container">
    <div>
        <span for="slideToggle" matPrefix>Classic</span>
        <mat-slide-toggle #slideToggle color="warn" class="slide-toggle" [checked]="isModern" (toggleChange)="switchCV()"></mat-slide-toggle>
        <span for="slideToggle" matSuffix>Modern</span>
    </div>
</div>
<div [@fade] class="cv-container">

    <app-curriculum-classic [data]="curriculum" class="cv" *ngIf="isModern"></app-curriculum-classic>
    <app-curriculum-modern [data]="curriculum" class="cv" *ngIf="!isModern"></app-curriculum-modern>
</div>

<div *ngIf="curriculum.length <= 0" class="error-message">
    <h1><mat-icon color="warn">error_outline</mat-icon> There seems to be a problem while getting all the data</h1>
</div>