div {
  margin: 40px;
  width: auto;
}

.cv-container {
  display: flex;
  justify-content: space-evenly;
}

app-curriculum-template {
  padding: 40px;
}

.error-message {
  display: flex;
  justify-content: space-around;
}

mat-icon {
  vertical-align: text-top;
  margin-right: 10px;
  font-size: 30px;
}

@media only screen and (max-width: 961px) {
  .cv-container {
    justify-content: flex-start;
  }
}